<div class="row">
    <div class="col s12 m10 l6 offset-m1">
        <!-- Basic blog post structure -->
        <div class="blog-post">
            <hr>
            <h4 class="center">Why python is better that all the other programming languages</h4>
            <p class="center">By Julio Navarro<br>
                <small>16 october 2016</small>
            </p>
            <hr/>

            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae
                numquam obcaecati,
                praesentium quidem sed sunt. Ab architecto commodi, esse exercitationem fugit illo minus neque nobis
                perferendis praesentium quod ut.</p>
            <h6 class="left">10 comments</h6>
            <a href="#" class="btn red white-text right">See more</a>
        </div>
        <!-- Provisional to see various items -->


    </div>
    <div class="col s12 m10 l6 offset-m1">
        <!-- Basic blog post structure -->
        <div class="blog-post">
            <hr>
            <h4 class="center">Why python is better that all the other programming languages</h4>
            <p class="center">By Julio Navarro<br>
                <small>16 october 2016</small>
            </p>
            <hr/>

            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae
                numquam obcaecati,
                praesentium quidem sed sunt. Ab architecto commodi, esse exercitationem fugit illo minus neque nobis
                perferendis praesentium quod ut.</p>
            <h6 class="left">10 comments</h6>
            <a href="#" class="btn red white-text right">See more</a>
        </div>
    </div>
</div>